#!/bin/bash

#set -x

DISK=/dev/disk/by-id/google-minecraft-data

has_filesystem() {
    DEVICE=$${1}
    file -L -s $${DEVICE} | grep -q filesystem
    echo "$${?}"
}

do_create_filesystem() {
    DISK=$${1}
    mkfs -j -t ext4 $${DISK}
}

do_start_backup() {
    cat << 'EOF' > /etc/systemd/system/minecraft-backup.service
[Unit]
Description=Minecraft Server
After=minecraft.service
Requires=minecraft.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull itzg/mc-backup
ExecStart=/usr/bin/docker run --rm --name %n \
--network host \
-e BACKUP_METHOD=restic \
-e BACKUP_INTERVAL=1h \
-e RESTIC_REPOSITORY=gs:${backup_bucket}:/ \
-e RESTIC_PASSWORD=minecraft2025 \
-e RCON_HOST=127.0.0.1 \
-e RCON_PASSWORD=minecraft2025 \
-v /mnt/disks/minecraft/data:/data \
itzg/mc-backup
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target
EOF
    systemctl daemon-reload
    systemctl enable minecraft-backup
    systemctl start minecraft-backup
}

do_start_machine_agent() {
    cat << EOF > /etc/systemd/system/metio-machine-agent.service
[Unit]
Description=Metio Machine Agent
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ${machine_agent_image}
ExecStart=/usr/bin/docker run --rm --name %n \
-v /var/run/docker.sock:/var/run/docker.sock \
${machine_agent_image}
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target
EOF
    systemctl daemon-reload
    systemctl enable metio-machine-agent
    systemctl start metio-machine-agent
}

do_start_server() {
    cat << 'EOF' > /etc/systemd/system/minecraft.service
[Unit]
Description=Minecraft Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull itzg/minecraft-server:stable-java21
ExecStart=/usr/bin/docker run --rm --name %n \
-p 25565:25565 \
-p 127.0.0.1:25575:25575 \
-e EULA=TRUE \
-e VERSION=${minecraft_version} \
-e MAX_MEMORY=3G \
-e USE_MEOWICE_FLAGS=true \
-e RCON_PASSWORD=minecraft2025 \
-v /mnt/disks/minecraft/data:/data \
itzg/minecraft-server:stable-java21
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target
EOF
    systemctl daemon-reload
    systemctl enable minecraft
    systemctl start minecraft
}

HAS_FILESYSTEM=$(has_filesystem $${DISK})

set -e

echo "HAS_FILESYSTEM: $${HAS_FILESYSTEM}"

if ! (exit $${HAS_FILESYSTEM}); then
    echo "Creating filesystem on $${DISK}."
    do_create_filesystem $${DISK}
fi

mkdir -p /mnt/disks/minecraft/data
mount /dev/disk/by-id/google-minecraft-data /mnt/disks/minecraft/data

#do_setup_backup
do_start_server
do_start_backup
do_start_machine_agent
