#!/bin/bash

#set -x

DISK=/dev/disk/by-id/google-minecraft-data

has_filesystem() {
    DEVICE=$${1}
    file -L -s $${DEVICE} | grep -q filesystem
    echo "$${?}"
}

do_create_filesystem() {
    DISK=$${1}
    mkfs -j -t ext4 $${DISK}
}

do_setup_backup() {
    BACKUP_BUCKET=$${1}
    mkdir -p /mnt/disks/minecraft/bin
    cat << 'EOF' > /mnt/disks/minecraft/bin/backup.sh
#!/bin/bash
set -e
set -x

screen -r mcs -X stuff '/save-all\n/save-off\n'
/usr/bin/gsutil cp -R /mnt/disks/minecraft/data/world gs://${backup_bucket}/$(date "+%Y%m%d-%H%M%S")-world
screen -r mcs -X stuff '/save-on\n'
EOF
    chmod +x /mnt/disks/minecraft/bin/backup.sh
    (crontab -l | grep -v -F "/mnt/disks/minecraft/bin/backup.sh" ; echo "0 */4 * * * /mnt/disks/minecraft/bin/backup.sh")| crontab -
}

do_start_server() {
    cat << 'EOF' > /etc/systemd/system/minecraft.service
[Unit]
Description=Minecraft Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull itzg/minecraft-server:stable-java21
ExecStart=/usr/bin/docker run --rm --name %n \
-p 25565:25565 \
-e EULA=TRUE \
-e VERSION=${minecraft_version} \
-v /mnt/disks/minecraft/data:/data \
itzg/minecraft-server:stable-java21
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target
EOF
    systemctl daemon-reload
    systemctl enable minecraft
    systemctl start minecraft
}

HAS_FILESYSTEM=$(has_filesystem $${DISK})

set -e

echo "HAS_FILESYSTEM: $${HAS_FILESYSTEM}"

if ! (exit $${HAS_FILESYSTEM}); then
    echo "Creating filesystem on $${DISK}."
    do_create_filesystem $${DISK}
fi

mkdir -p /mnt/disks/minecraft/data
mount /dev/disk/by-id/google-minecraft-data /mnt/disks/minecraft/data

#do_setup_backup
do_start_server
