GCP_PROJECT=TBD
GCP_ZONE=TBD
INSTANCE_NAME=TBD
ALLOWED_USERS=TBD
GOOGLE_CLIENT_ID=TBD
GOOGLE_CLIENT_SECRET=TBD
SESSION_KEY=demo1234
BASE_URL=http://localhost:3000

# Dapr (local Dapr sidecar + Datastore emulator, started by 'make develop')
# DAPR_STATE_STORE_NAME=statestore
